/* stylesheet für Aufgabe 3 */
body {
    background-color: #9B9F9B;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:#000000;
}
section{
    color: #000000;
    background-color:#7B7F7B;
    width: 100%;
}
article{
    color:#0075E6;
    width: 85%;
}
img{
height: 300px;
width: 30%;
border-style: solid;
border-width: 10px;
}
