/* stylesheet für Aufgabe 3 */
body {
    background-color:#FFFFFF;    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:#000000;
}
section{
    color: #000000;
    background-color:#A6B9CA;
    width: 100%;
}
article{
    color:#CF0C0C;
    width: 85%;
}
img{
height: 300px;
width: 30%;
border-style: solid;
border-width: 5px;
}
